<div data-aos="flip-left" class="section-header" style="flex-direction: row-reverse">
    <span>.02</span><h4>Experiences</h4><hr></hr>
</div>
<div data-aos="fade-up" data-aos-delay="200" class="section-3-div-expe">
    <h5><a href="https://www.hardis-group.com/">Hardis Group</a>
        <br>
        02/2019 - Present
        <br>
        Software Developer
    </h5>
    <div data-aos="fade-up" data-aos-delay="400" class="section-3-div-expe-compet">
        <p>During the few years spent in this company I acquired several skills.
            <br>
            I am in charge of several clients for whom I manage their technical scope.
        </p>
        <div class="section-3-div-expe-compet-list">
            <div data-aos="fade-right" data-aos-delay="500" data-aos-duration="1500">
                <p>Technical management of customer accounts</p>
            </div>                        
            <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="1500">
                <p>Analysis and resolution of software problems</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="500" data-aos-duration="1500">
                <p>Management of small and medium evolutions</p>
                <ul>
                    <li>Qualification, technical analysis</li>
                    <li>Carrying out development and testing</li>
                    <li>Documentation</li>
                </ul>
            </div>
        </div>
    </div>
</div>