
<div id="main-navbar">
    <i id="xmark" class="fa-solid fa-xmark" onclick="closeNavbar()" style="visibility: hidden"></i>
    <ul>
        <li><p>01.</p><a href="#main-section-2" onclick="closeNavbar()">Qui suis-je</a></li>
        <li><p>02.</p><a href="#main-section-3" onclick="closeNavbar()">Experience</a></li>
        <li><p>03.</p><a href="#main-section-4" onclick="closeNavbar()">Projets</a></li>
        <li><p>04.</p><a href="#main-section-5" onclick="closeNavbar()">Contact</a></li>
    </ul>
</div>