<div data-aos="flip-left" class="section-header">
    <span>01.</span><h4>who am I ?</h4><hr></hr>
</div>
<div data-aos="fade-up" data-aos-delay="200" class="section-2-div-about-me">
    <p>
        After obtaining my BTS SIO (IT services to organizations, development specialty), I was able to get a job as a software developer, which I have held for 3 and a half years,
        in an IT consulting and services company, Salesforce integrator and software publisher for logistics.
        <br>
        In this company we almost only use private tools and languages, which pushed me to take on new challenges and discover other technologies.   
        <br><br>
        This is why since the beginning of 2022, as an autodidact, I have been training in the various tools, frameworks and languages of the Web domain, but not only.
    </p>
    <img src="../static/img/Code_img.png" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="3000">
</div>
<div data-aos="fade-up" data-aos-delay="400" class="section-2-div-tech">
    <h5>Here are the technologies I have worked with recently :</h5>
    <div class="box-tel">
        <div><i class="fa-brands fa-python"></i><p>Python</p></div>
        <div><i class="fa-brands fa-square-js"></i><p>JavaScript</p></div>
        <div><i class="fa-brands fa-node-js"></i><p>Node JS</p></div>
        <div><i class="fa-brands fa-react"></i><p>React JS</p></div>
        <div><iconify-icon icon="simple-icons:django"></iconify-icon><p>Django</p></div>
        <div><iconify-icon icon="file-icons:flask"></iconify-icon><p>Flask</p></div>
    </div>
    <div class="box">
        <span style="--i:1">
            <i class="fa-brands fa-python"></i><p>Python</p>
        </span>
        <span style="--i:2">
            <i class="fa-brands fa-square-js"></i><p>JavaScript</p>
        </span>
        <span style="--i:3">
            <i class="fa-brands fa-node-js"></i><p>Node JS</p>
        </span>
        <span style="--i:4">
            <i class="fa-brands fa-react"></i><p>React JS</p>
        </span>
        <span style="--i:5">
            <iconify-icon icon="simple-icons:django"></iconify-icon><p>Django</p>
        </span>
        <span style="--i:6">
            <iconify-icon icon="file-icons:flask"></iconify-icon><p>Flask</p>
        </span>
    </div>
</div>