<div data-aos="flip-left" class="section-header">
    <span>01.</span><h4>Qui suis-je ?</h4><hr></hr>
</div>
<div data-aos="fade-up" data-aos-delay="200" class="section-2-div-about-me">
    <p>
        Suite a l'obtention de mon BTS SIO (Services informatiques aux organisations, spécialité développement), j'ai pus obtenir un poste de développeur logiciel, que j'occupe depuis maintenant 3 ans et demi,
        dans une société de conseil et de services IT, d'intégrateur Salesforce et d'éditeur de logiciels pour la logistique.
        <br>
        Dans cette société nous utilisons presque uniquement que des outils et languages privées, ce qui m'a poussé a me lancer de nouveaux défis et de découvrir d'autres technologie.   
        <br><br>
        C'est pour cela que depuis début 2022, en autodidacte, je me forme aux différents outils, frameworks et languages du domaine du Web ,mais pas que.
    </p>
    <img src="../static/img/Code_img.png" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="3000">
</div>
<div data-aos="fade-up" data-aos-delay="400" class="section-2-div-tech">
    <h5>Voici les technologies avec lesquelles j'ai travaillé récemment :</h5>
    <div class="box">
        <span style="--i:1">
            <i class="fa-brands fa-python"></i><p>Python</p>
        </span>
        <span style="--i:2">
            <i class="fa-brands fa-square-js"></i><p>JavaScript</p>
        </span>
        <span style="--i:3">
            <i class="fa-brands fa-node-js"></i><p>Node JS</p>
        </span>
        <span style="--i:4">
            <i class="fa-brands fa-react"></i><p>React JS</p>
        </span>
        <span style="--i:5">
            <iconify-icon icon="simple-icons:django"></iconify-icon><p>Django</p>
        </span>
        <span style="--i:6">
            <iconify-icon icon="file-icons:flask"></iconify-icon><p>Flask</p>
        </span>
    </div>
</div>