<div data-aos="flip-left" class="section-header">
    <span>03.</span><h4>Projects</h4><hr></hr>
</div>
<div class="section-4-div-projects">
    <div class="section-4-div-projects-box">
        <div class="section-4-div-projects-box-img" data-aos="fade-down-right" data-aos-delay="300">
            <a href="http://www.coincentraliz.fr/" target="_blank" rel="noopener noreferrer">
                <img src="../static/img/coinCentraliz.png">
            </a>
        </div>
        <div class="section-4-div-projects-box-descr" data-aos="fade-down-left" data-aos-delay="300">
            <div>
                <a href="http://www.coincentraliz.fr/" target="_blank" rel="noopener noreferrer">Coin Centraliz</a>
                <a href="https://github.com/Kyytox/Coin_Centraliz" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
            </div>
            <p>Coin Centraliz is a cryptocurrency-related content aggregator.
                Several types of content are available
                <br>
                <br>Newspaper articles
                <br>Videos and podcasts
                <br>Live Twitch Channels
                <br>Thread Twitter 
            </p>
            <ul>
                <li>Python</li>
                <li>Django</li>
                <li>Postgre SQL</li>
                <li>API</li>
                <li>Bot_Tweeter</li>
                <li>Scrapping</li>
            </ul>
        </div>
    </div>

    <div class="section-4-div-projects-box">
        <div class="section-4-div-projects-box-img" data-aos="fade-down-right" data-aos-delay="300">
            <a href="http://www.coincentraliz.fr/" target="_blank" rel="noopener noreferrer">
                <img src="../static/img/bitcoinQuiz.png">
            </a>
        </div>
        <div class="section-4-div-projects-box-descr" data-aos="fade-down-left" data-aos-delay="300">
            <div>
                <a href="https://bitcoinquiz.fr/" target="_blank" rel="noopener noreferrer">Bitcoin Quiz</a>
                <a href="https://github.com/Kyytox/bitcoin_quizz" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
            </div>
            <p>Earn Satoshis with Bitcoin Quiz. Discover or test your knowledge of Bitcoin and its ecosystem
                <br>
                <br> 10 Questions per game
                <br> 2 satoshis per correct answer
                <br> 100 satoshis per day
                <br> Languages : FR - EN
            </p>
            <ul>
                <li>Javascript</li>
                <li>Node JS</li>
                <li>React JS</li>
                <li>API</li>
                <li>Lightning Network</li>
            </ul>
        </div>
    </div>

    <div class="section-4-div-projects-box">
        <div class="section-4-div-projects-box-img" data-aos="fade-down-right">
            <a href="http://www.vinylsdubscrap.xyz/" target="_blank" rel="noopener noreferrer">
                <img src="../static/img/vinylsDubScrap.png">
            </a>
        </div>
        <div class="section-4-div-projects-box-descr" data-aos="fade-down-left">
            <div>
                <a href="http://www.vinylsdubscrap.xyz/" target="_blank" rel="noopener noreferrer">Vinyls Dub Scrap</a>
                <a href="https://github.com/Kyytox/vinyls_dub_scrap" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
            </div>
            <p>Listen to new vinyl extracts from different Reggae Dub shops.
                <br><br>
                Every 3 days new vinyls are added and you can listen to them via an integrated player.
                <br><br> 
                A user account can be created to add certain vinyls to favorites.
            </p>
            <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>Scrapping</li>
                <li>Login/Sign</li>
            </ul>
        </div>
    </div>

    <div class="section-4-div-projects-box">
        <div class="section-4-div-projects-box-img" data-aos="fade-down-right" data-aos-delay="300">
            <a href="https://github.com/Kyytox/Matplotlib---Graph" target="_blank" rel="noopener noreferrer">
                <img src="../static/img/Graphs.png">
            </a>
        </div>
        <div class="section-4-div-projects-box-descr" data-aos="fade-down-left" data-aos-delay="300">
            <div>
                <a href="https://github.com/Kyytox/Matplotlib---Graph" target="_blank" rel="noopener noreferrer">Matplotlib - Graph</a>
                <a href="https://github.com/Kyytox/Matplotlib---Graph" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
            </div>
            <p>Graphs made using Matplotlib and the API of the Glassnode site
                <br>
                the API provides cryptocurrency-related data.
                <br>
                They are then processed and formatted with Pandas.
                <br>
                Then are displayed in graphic form (Bar, Pie chart, lines, map) 
            </p>
            <ul>
                <li>Python</li>
                <li>Matplotlib</li>
                <li>Pandas</li>
                <li>API</li>
            </ul>
        </div>
    </div>
</div>