<div data-aos="flip-left" class="section-header">
    <span>03.</span><h4>Portfolio</h4><hr></hr>
</div>
<div class="section-4-div-projects">
    <div class="section-4-div-projects-box">
        <div class="section-4-div-projects-box-img" data-aos="fade-down-right" data-aos-delay="300">
            <a href="http://www.coincentraliz.fr/" target="_blank" rel="noopener noreferrer">
                <img src="../static/img/coinCentraliz.png">
            </a>
        </div>
        <div class="section-4-div-projects-box-descr" data-aos="fade-down-left" data-aos-delay="300">
            <div>
                <a href="http://www.coincentraliz.fr/" target="_blank" rel="noopener noreferrer">Coin Centraliz</a>
                <a href="https://github.com/Kyytox/Coin_Centraliz" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
            </div>
            <p>Coin Centraliz est un agrégateur de contenu liées au domaine de la cryptomonnaie.
                Plusieurs type de contenu sont disponible
                <br>
                <br>Articles de journaux 
                <br>Vidéos et podcasts 
                <br>Chaines Twitch en live 
                <br>Thread Twitter 
            </p>
            <ul>
                <li>Python</li>
                <li>Django</li>
                <li>Postgre SQL</li>
                <li>API</li>
                <li>Bot_Tweeter</li>
                <li>Scrapping</li>
            </ul>
        </div>
    </div>

    <div class="section-4-div-projects-box">
        <div class="section-4-div-projects-box-img" data-aos="fade-down-right" data-aos-delay="300">
            <a href="http://www.coincentraliz.fr/" target="_blank" rel="noopener noreferrer">
                <img src="../static/img/bitcoinQuiz.png">
            </a>
        </div>
        <div class="section-4-div-projects-box-descr" data-aos="fade-down-left" data-aos-delay="300">
            <div>
                <a href="https://bitcoinquiz.fr/" target="_blank" rel="noopener noreferrer">Bitcoin Quiz</a>
                <a href="https://github.com/Kyytox/bitcoin_quizz" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
            </div>
            <p>Gagnez des Satoshis avec Bitcoin Quiz. Découvrez ou testez vos connaissances sur Bitcoin et son écosystème
                <br>
                <br> 10 Questions par partie
                <br> 2 satoshis par bonne réponse
                <br> 100 satoshis par jour
                <br> Langues : FR - EN
            </p>
            <ul>
                <li>Javascript</li>
                <li>Node JS</li>
                <li>React JS</li>
                <li>API</li>
                <li>Lightning Network</li>
            </ul>
        </div>
    </div>

    <div class="section-4-div-projects-box">
        <div class="section-4-div-projects-box-img" data-aos="fade-down-right">
            <a href="http://www.vinylsdubscrap.xyz/" target="_blank" rel="noopener noreferrer">
                <img src="../static/img/vinylsDubScrap.png">
            </a>
        </div>
        <div class="section-4-div-projects-box-descr" data-aos="fade-down-left">
            <div>
                <a href="http://www.vinylsdubscrap.xyz/" target="_blank" rel="noopener noreferrer">Vinyls Dub Scrap</a>
                <a href="https://github.com/Kyytox/vinyls_dub_scrap" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
            </div>
            <p>Ecouter les nouveaux extraits de vinyls des différents shops Reggae Dub.
                <br><br>
                Tous les 3 jours des nouveaux vinyls sont ajoutés et vous pouvez écouter les écoutés via un lectuer intégré.
                <br><br> 
                Un compte utilisateur peut etre créé pour ajouter certains vinyls en favoris.
            </p>
            <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>Scrapping</li>
                <li>Login/Sign</li>
            </ul>
        <div>
    </div>
</div>