:root {
    --color-text-title: rgb(196, 23, 23);
    --color-text: rgb(197, 193, 193);
    --color-text-hover: white;
    --backColorBox: rgb(74 20 20);
}


@font-face {
    font-family: myFirstFont;
    src: url('../fonts/ubuntu.regular.ttf');
}


body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(10, 10, 10);
    font-family: myFirstFont;
    letter-spacing: 1.2px;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

hr {
    width: 70%;
    border: 0;
    border-top: 0.5px solid gray;
}

div#main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


div#main .main-accueil {
    margin-top: 2%;
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 3%;
}

form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form .form-header input {
    margin-right: 20px;
    height: 25px;
    width: 14%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid rgb(180, 10, 10);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
}

form .form-header input:-webkit-autofill,
form .form-header input:-webkit-autofill:hover,
form .form-header input:-webkit-autofill:focus,
form .form-header input:-webkit-autofill:active,
form .form-header input:focus-visible {
    -webkit-box-shadow: 0 0 0 30px rgb(10, 10, 10) inset !important;
    -webkit-text-fill-color: white !important;
}

form .form-header input:last-child {
    background: rgba(196, 196, 196, 0.685);
    margin-left: 20px;
    text-align: center;
    height: 40px;
    width: 130px;
    border-bottom: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

form .form-header select {
    height: 25px;
    border: 1px solid rgb(180, 10, 10);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(20, 20, 20, .2);
    color: white;
}

form .form-header select option {
    background-color: rgba(20, 20, 20);
}


form .form-checkbox label {
    margin-right: 25px;
}

input[type="checkbox" i] {
    appearance: none;
    margin-top: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
}

input[type="checkbox" i]:checked {
    background-color: rgb(199, 12, 12);
    border: none;
}



div#main .main-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    /* border-left: 0.3px solid blue; */
}

div#main .main-box:hover {
    background-color: rgb(27, 27, 27);
}

div#main .main-box:hover h2 {
    text-decoration: 1px underline;
    text-underline-position: under;
}

div#main .main-box a {
    text-decoration: none;
    color: whitesmoke;
}

div#main .main-box p,
div#main .main-box h2,
div#main .main-box h3,
div#main .main-box h4 {
    margin: 5px;
}

div#main .main-box h4,
div#main .main-box h3 {
    font-weight: 100;
}

div#main .main-box h2 {
    margin-bottom: 17px;
}


div#main .main-box h3 i::before {
    font-size: 15px;
}



div#main .main-box .main-box-head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 8px;
}

div#main .main-box p:nth-child(1) {
    text-align: start;
    width: 50%;
}

div#main .main-box p:nth-child(2) {
    text-align: end;
    width: 50%;
}


div#main .main-box-loc-cont-sal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

div#main .main-box-loc-cont-sal h4 {
    margin-right: 6%;
    min-width: fit-content;
}

div#main .main-box .main-box-descr {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px
}

div#main .main-box ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

div#main .main-box li {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 5px;
    margin: 10px;
    background: rgb(43, 42, 42);
    font-size: 13px;
}






.loader {
    display: none;
    width: 48px;
    height: 48px;
    position: relative;
    transform: rotate(45deg);
}

.loader::before {
    content: '';
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: -24px;
    animation: animloader 4s ease infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    animation: animloader2 2s ease infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }

    12% {
        box-shadow: 0 24px white, 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }

    25% {
        box-shadow: 0 24px white, 24px 24px white, 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }

    37% {
        box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px white;
    }

    62% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px white, 24px 48px white, 0px 48px white;
    }

    75% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px white, 0px 48px white;
    }

    87% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px white;
    }

    100% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }
}

@keyframes animloader2 {
    0% {
        transform: translate(0, 0) rotateX(0) rotateY(0);
    }

    25% {
        transform: translate(100%, 0) rotateX(0) rotateY(180deg);
    }

    50% {
        transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
    }

    75% {
        transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
    }

    100% {
        transform: translate(0, 0) rotateX(0) rotateY(360deg);
    }
}


.btn-70,
.btn-70 *,
.btn-70 :after,
.btn-70 :before,
.btn-70:after,
.btn-70:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-70 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
}

.btn-70:disabled {
    cursor: default;
}

.btn-70:-moz-focusring {
    outline: auto;
}

.btn-70 svg {
    display: block;
    vertical-align: middle;
}

.btn-70 [hidden] {
    display: none;
}

.btn-70 {
    box-shadow: inset 0 0 0 2px #fff;
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    padding: 1rem 2.5rem;
    position: relative;
    text-transform: uppercase;
    transition: color 0.1s linear;
}

.btn-70:after,
.btn-70:before {
    content: "";
    position: absolute;
}

.btn-70:before {
    border-bottom: var(--border);
    border-top: var(--border);
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.btn-70:hover:before {
    --border: 4px solid #000;
    -webkit-animation: border-top-and-bottom 1s forwards;
    animation: border-top-and-bottom 1s forwards;
}

.btn-70:after {
    border-left: var(--border);
    border-right: var(--border);
    bottom: 50%;
    right: 0;
    transform: translateY(50%);
    width: 100%;
    z-index: -1;
}

.btn-70:hover:after {
    --border: 4px solid #000;
    -webkit-animation: border-right-and-left 1s forwards;
    animation: border-right-and-left 1s forwards;
}

@-webkit-keyframes border-top-and-bottom {
    0% {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes border-top-and-bottom {
    0% {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@-webkit-keyframes border-right-and-left {
    0% {
        height: 0;
    }

    to {
        height: 100%;
    }
}

@keyframes border-right-and-left {
    0% {
        height: 0;
    }

    to {
        height: 100%;
    }
}