{% extends "./searchJobs/base.html" %}

{% block content %} 

    <div id="main">
        <div class="main-accueil">
            <a href="{{ url_for('searchJobs') }}">
                <button class="btn-70">Accueil</button>
            </a>
        </div> 
        {% include "./searchJobs/form.html" %}
        <hr>

        {% for i in jobs_list%}
            <div class="main-box">
                <a href={{i.link}} target="_blank" rel="noopener noreferrer">
                    <div class="main-box-head">
                        {% if i.date %}
                            <p>{{i.date}}</p>
                        {% endif %}
                        <p>{{i.source}}</p>
                    </div>

                    <h2>{{i.title}}</h2>
                    
                    {% if i.company %}
                        <h3><i class="fa-solid fa-building"></i> {{i.company}}</h3>
                    {% endif %}

                    <div class="main-box-loc-cont-sal">
                        {% if i.location %}
                            <h4><i class="fa-solid fa-location-dot"></i> {{i.location}}</h4>
                        {% endif %}

                        {% if i.contrat_job %}
                            <h4><i class="fa-solid fa-file-contract"></i> {{i.contrat_job}}</h4>
                        {% endif %}

                        {% if i.salary %}
                            <h4><i class="fa-solid fa-euro-sign"></i> {{i.salary}}</h4>
                        {% endif %}
                    </div>

                    {% if i.descr %}
                        <p class="main-box-descr">{{i.descr}}</p>
                    {% endif %}

                    {% if i.competences %}
                        <ul>
                            {% for y in i.competences %}
                                <li>{{y}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}