

<html lang="en">
<head>
	<title>:WICKED:</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
		<!-- <script type="module">
			import * as THREE from "https://unpkg.com/three/build/three.module.js";
			import { OrbitControls } from "https://unpkg.com/three/examples/jsm/controls/OrbitControls.js";
			/* Warning triggered */
		</script>
		<button type="button" onclick="resetView()">Reset View</button> -->
	
</body>
</html>