#root {
  padding: 2rem;
  width: 100%;
}

.app {
  width: 100%;
}


.head-art-ascii {
  min-height: 195px;
}


.line-cmd {
  display: flex;
}

.index-line-cmd {
  margin-right: 10px;
}








.navbar {
  display: flex;
  flex-direction: column;
}

.navbar div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navbar div :nth-child(1) {
  width: 8%;
  margin-right: 40px;
}

.navbar div :nth-child(2) {
  width: 100%;
  text-align: left;
}