#root {
  width: 100%;
  overflow-x: hidden;
}

.app {
  width: 100%;
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(32, 32, 32);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(55, 55, 55);
}

#terminal {
  padding: 2rem;
  padding-bottom: 100px;
}


.head-art-ascii {
  min-height: 195px;
}


.line-cmd {
  display: flex;
}


.index-line-cmd {
  margin-right: 10px;
}




.element-terminal {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}


/* form Input Terminal  */
#form-terminal {
  width: 40%;
}

input {
  background: transparent;
  border: 0;
  width: 100%;
}

input:focus {
  font-size: 16px;
}

input:focus-visible {
  outline: none;
}

.div-input-terminal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}


/* Err command */
.err-msg {
  margin: 0;
}




/* Menu */
.navbar {
  display: flex;
  flex-direction: column;
}

.navbar .item-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.navbar .item-menu :nth-child(1) {
  width: 12%;
}

.navbar .item-menu :nth-child(2) {
  text-align: left;
}

.item-menu p {
  margin: 0;
  cursor: pointer;
}



/* skills */

.div-skills {
  display: flex;
  flex-direction: row;
}

.item-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.item-skills p {
  margin: 0;
}



/* projects */
.div-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}

.item-project {
  width: 28%;
  margin-bottom: 20px;
}

.head-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.head-projects h3 {
  margin: 0;
  font-weight: 800;
  font-size: 20px;
}

.item-project:nth-child(4),
.item-project:nth-child(5),
.item-project:nth-child(6) {
  margin-top: 40px;
}

.head-projects span :nth-child(2) {
  margin-left: 10px;
}

.head-projects span a {
  margin-top: 2px;
}

.techno-project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.techno-project p {
  margin: 0;
  margin-right: 30px;
  font-style: italic;
  font-size: 14px;
}




/* Socials */

.item-socials {
  display: flex;
  flex-direction: column;
}

.item-socials a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: fit-content;
  margin-bottom: 10px;
}

.item-socials:nth-child(3) {
  pointer-events: none;
  cursor: default;
}

.item-socials a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.item-socials button {
  background-color: transparent;
}




/* bitcoin */

.div-bitcoin {
  display: flex;
  flex-direction: row;
}

.div-bitcoin div:nth-child(1) {
  margin-right: 80px;
}

.item-btc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-btc span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 7px;
}

.item-btc span img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.item-btc span p {
  margin: 0;
}



/* Themes */

.div-themes {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.div-themes p {
  margin: 0;
}

.p-themes {
  margin: 0;
}

.item-themes {
  margin-right: 40px;
  cursor: pointer;
}