:root {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
}

* {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 16px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}